# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#additionals
.DS_Store
GauldinCsts
Main
.vscode/
.docx
../ConstraintsGauldin/R\303\250gles musicales Duha.docx
../AvancementImplementationRegles.xlsx
../~$AvancementImplementationRegles.xlsx


c++/gecode.framework

*.mid
