# Compiled Dynamic libraries
*.dll
*.so

# Executables and log files
*.exe
efficiency_measurment/heuristics
efficiency_measurment/out/parallelRun
out/Main

#additionals
.idea
c++/.idea
.DS_Store
.vscode

#other files
efficiency_measurment/TestCases.txt
efficiency_measurment/out/*

c++/cmake-build-debug


c++/gecode.framework

*.mid
efficiency_measurment/TestCases.txt
