# Compiled Dynamic libraries
*.dll
*.so

# Executables and log files
*.exe
*.out
*.app
/out/*
efficiency_measurment/heuristics
efficiency_measurment/parallelRun

#additionals
.idea
c++/.idea
.DS_Store

c++/cmake-build-debug


c++/gecode.framework

*.mid